* {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
  width: 100%;
  height: 100%;
}

.nav {
  height: 70px;
  background: #3e388a;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
}

.nav__logo {
  height: 50px;
  float: left;
}

.nav__brand {
  display: inline-block;
  color: #fff;
  position: relative;
  width: 100px;
  left: 20px;
  top: 10px;
}

#algovis {
  display: flex;
  height: 100%;
}

#canvas {
  flex: 1;
}

#code {
  flex: 1;
  background-color: #009688;
}

#codearea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #009688;
  color: #fff;
  font-size: 20px;
}
